body
{
	top: 0;
	left: 0;
	scroll-behavior: smooth;
	margin: 0;
	font-size: 100%;
	font-family: sans-serif;
	background: #fff;
}

/*Navbar*/
  .mynavbar{position: sticky; z-index: 100;}
  .topnav{
    position: fixed;
    width: 100%;
    background-color: #0D2C54;
  }
  .topnav .icon{
    display: none;
    z-index: 1000;
  }
  .logo img{
    margin:22px 0 0 22px;
    height:42px;
  }
    
  @media screen and (max-width: 600px){
    .topnav{background-color: #0D2C54;}
    .topnav a.icon{display: block;float: right;}
    .topnav.responsive {position: fixed;}
    .topnav.responsive ul{margin:0; height: 650px;}
    .topnav.responsive .icon{
      position: absolute;
      right:0;
      top: 0;
    }
    .topnav.responsive .links a{
      float: none;
      display: block;
      text-align: center;
      margin: 20px;
    }
    .topnav.responsive .links li:last-child a{
      color: #fff;
      margin: 0;
    }
    .topnav.responsive .links li:last-child a:hover{text-decoration: underline #fff;border:none;}
    .topnav .links{width: 100%;}
    .topnav .links a{display: none;}
    .topnav.responsive .links a:hover{text-decoration: underline #fff;border:none;}
    .topnav .links ul{
      position: fixed;
      background-color: #0D2C54;
      width: 100%;
    }
    .topnav .links li{display:contents;}
    .header h1{font-size: 32px;}
    .fa-bars:before{
      position: fixed;
      right: 25px;
      top: 15px;
      font-size: 24px;
    }   
  }
  .topnav a{
    display: inline;
    font-family: Poppins;
    line-height: 54px;
    margin-right: 10px;
    text-decoration: none;
    color: #FFFFFF;
  }
  .links{
    float: right;
    font-size: 18px;
    margin-right: 30px;
  }
  .links ul{
    float: none;
    margin:20px;
  }
  .links li{
    list-style-type: none;
    display: inline;
    padding: 6px;
  } 
  .topnav .links a:hover{
    color: #fff;
    text-decoration: none;
    border-bottom: 2px solid #fff;
  }
  .topnav .links li:last-child a:hover{
    color: #fff;
    text-decoration: none;
    border: none;
  }
  .logo{
    font-size: 18px;
    font-weight: 600;
  }
  .links li:last-child{
    background-color: #FDCA76;
  }
  .links li:last-child a{
    color: #000000;
    margin: 20px;
  }
  
  /* HEADER */
  .header{
    background: url('../images/Hero.jpg'), #0D2C54;
    width: 100%;
    height: auto;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
  }
  .header{
    position: relative;
    font-family: 'Open Sans', sans-serif;
    color: #ffffff;
    padding-top: 60px;
  } 
  .header h1{
    margin:0;
    font-weight: 700;
  }
  .header p{
    font-size: 18px;
    padding-bottom: 10px;
    font-weight: 400;
  }
  /* h4-get started button */
  .header h4{color:black;
    font-size: 18px;
    margin: 5px;
    padding: 5px;
  }
  .get-started{
    display: flex;
    width: fit-content;
    background-color: #ffffff;
    border-radius: 5px;  
  }
  .fa-angle-right:before{
    font-size: 28px;
    padding: 5px 10px;
    font-weight: 600;
  }
  .yellow-button{
    background-color: #fdca76;
    border: none;
    border-radius: 0 5px 5px 0;
  }
  
  
  @media screen and (max-width: 600px){
    .header{
      background:url('../images/Mobile_bg.jpg'), #0d2c54;
      width: 100%;
      height: 100vh;
      background-size: cover;
      background-position: center;
    }
  }
/*Navbar End*/

/*Our Courses*/
#our-courses {
    background-image: url("../Images/Courses_bg.jpg");
    background-repeat: no-repeat;
    background-position: right;
    padding-top: 70px;
}
.vertical-pad {
    padding-bottom: 35px;
}

.horizontal-pad {
    padding-left: 30px;
}
.heading {
    padding-bottom: 50px;
    padding-top: 45px;
    background-image: url("../Images/Our_courses_boxes.svg");
    background-repeat: no-repeat;
    padding-left: 35px;
}
.grid {
    min-width: max-content;
}
.wrapper {
    display: flex;
    justify-content: space-between;
    overflow-x: auto;
    padding-left: 20px;
    padding-right: 20px;
}
.horizontal-scrollable > .grid { 
    overflow-x: auto; 
    white-space: nowrap;
} 
.wrapper::-webkit-scrollbar{
    width: 0;
}
.card {
    position: relative;
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    flex-direction: row;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    border-radius: 10px;
    width: 25%;
    height: 290px;
    margin: 15px 0 30px;
    box-shadow: 0px 4px 4px rgba(0,0, 0, 0.15), 0px 4px 16px rgba(0, 0, 0, 0.15);
}

.card:hover .overlay {
    opacity: 1;
}

.img {
    height: 90%;
    width: 84%;
    display: -webkit-box;
    display: flex;
    -webkit-box-pack:  ;
    justify-content: initial;
    -webkit-box-align: initial;
    align-items: initial;
    border-radius: 10px;
    margin-bottom: 15px;
    background: linear-gradient(180deg, #0F3C76 0%, #0B2B55 100%);
}

.button {
    position: absolute;
    height: 45px;
    color: #FDCA76;
    background: linear-gradient(180deg, #0F3C76 0%, #0B2B55 100%);
    font-size: 30px;
    font-weight: 900;
    left: 110px;
    top: 235px;
    border-radius: 5px 0px 0px 5px;
    text-align: center;
    width: 50px;
}
.course {
    padding-right: 140px;
    text-align:  justify;
}

@media screen and (min-width: 480px)
{
    .button {
        left: 90px;
        width: 46px;
    }
    .course {
        padding-right: 53px;
    }
}
@media only screen and (min-width: 768px)
{
    .button {
        left: 184px;
        width: 73px;
    }
    .course {
        padding-right: 110px;
    }
}


    





/*Our Courses End*/

/*Our Mission*/
#our-mission {
  background-image: url("../images/Our_mission_bg.jpg");
  background-size: cover;
  background-repeat: no-repeat; 
  width:100%;
}

.img-mission {
    background: linear-gradient(180deg, #0F3C76 0%, #0B2B55 100%);
    width: 80%;
    font-family: 'Dancing Script', cursive;
    color: #fdca76;
    font-size: 24px;
    transform: scale(1.1);
}

.mission-para
{
  font-size: 19px;
}


/*Our Mission End*/