body
{
	top: 0;
	left: 0;
	scroll-behavior: smooth;
	margin: 0;
	font-size: 100%;
	font-family: 'Poppins', sans-serif;
	background: #fff;
}

/*Navbar*/
  .topnav {
    height: 83px;
    top: 0;
    left: 0;
    background: #0D2C54;
    width: 100%;
    z-index: 1000;
    overflow: hidden;
    transition: 0.5s ease-in-out;
    font-family: 'Poppins', sans-serif;
    box-shadow: 0px 4px 4px rgba(0,0,0,0.25);
  }

  .nav-logo {
    left: 8%;
  }

  .nav-logo a:focus
  {
    outline: none;
    border: none;
  }

  .nav-logo-img {
    height: 50px;
    margin-top: 17px;
    width: auto;
    transition: 0.5s ease-in-out;
  }

  .toggle-bars {
    width: 25px;
    right: 8%;
    margin-top: 22px;
    display: none;
  }

  .bar {
    height: 2px;
    margin: 5px 0;
    width: 100%;
    background: #fff;
    transition: 0.7s;
  }

  .navbar-ul {
    text-decoration: none;
    list-style: none;
    float: right;
    margin-right: 8%;
    font-size: 18px;
    margin-top: 29px;
    transition: 0.5s ease-in-out;
  }

  .navbar-link {
    display: inline-block;
    padding: 2px 12px;
    color: #fff;
    text-decoration: none;
    position: relative;
  }

  .navbar-list
  {
    position: relative;
  }

  .navbar-link-text
  {
    position: relative;
  }

  #reg-link
  {
    background: #fdca76;
    color: #0D2C54;
    margin-left: 6px;
    padding: 2px 20px;
  }

  .navbar-link:hover, .navbar-link:focus {
    color: #fff;
    text-decoration: none;
  }

  .navbar-list .navbar-link-text:after
  {
    content: '';
    position: absolute;
    height: 2px;
    width: 70%;
    background: #fdca76;
    left: 15%;
    bottom: -4px;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform 0.5s;
  }

  .navbar-list.active .navbar-link-text:after
  {
    content: '';
    position: absolute;
    height: 2px;
    width: 70%;
    background: #fdca76;
    left: 15%;
    bottom: -4px;
    transform-origin: right;
    transform: scaleX(1);
    transition: 0.5s;
  }

  .navbar-link:hover .navbar-list .navbar-link-text:after
  {
    content: '';
    position: absolute;
    height: 2px;
    width: 70%;
    background: #fdca76;
    left: 15%;
    bottom: -4px;
    transform-origin: left;
    transform: scaleX(1);
  }

  #reg-link:hover .navbar-list .navbar-link-text:after
  {
    content: '';
    position: absolute;
    height: 2px;
    width: 70%;
    background: #fdca76;
    left: 15%;
    bottom: -4px;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform 0.5s;
  }

  @media (max-width: 850px)
  {
    .topnav {
      height: auto;
      max-height: 60px;
      transition: 1s ease-in;
    }

    .nav-logo-img {
      margin-top: 10px;
      height: 40px;
    }

    .toggle-bars {
      margin-top: 17px;
      display: block;
      cursor: pointer;
    }

    .navbar-ul {
      width: 100%;
      margin: 60px 0 0;
      padding: 0;
      text-align: center;
    }

    .navbar-link {
      display: block;
      margin: 5px 0;
    }

    #reg-link
    {
      margin: 6px 0 10px;
      margin-left: 0;
      color: #fff;
      background: #0D2C54;
    }

    .navbar-list
    {
      padding: 5px;
    }

    #reg-list
    {
      background: #fdca76;
      color: #0D2C54;
    }
  }


  #notnav
  {
    background: rgba(0,0,0,0.7);
    z-index: 999;
    display: none;
  }
  
  /* course_info navbar*/
  .vl {
    border-left: 3px solid #ffffff;
    height: 70px;
  }
  .rounded-circle {
      height: 40px;
      width: auto;
      transition: 0.5s ease-in-out;
      border: 3px black;
      border-style: double;
  }

  /*course_info header*/

  .jumbotron {
    background: url("C:/Users/hp/Desktop/Certi_frontend/certi-frontend/images/Hero.jpg"), #0D2C54;
    width: 100%;
    height: 445px;
    background-size: cover;
    background-position: center 80%;
    background-repeat: no-repeat;
    position: relative;
    font-family: 'Open Sans', sans-serif;
    color: #ffffff;
    padding-top: 90px;
  }
  .card {
    position: relative;
    width: 100%;
    height: 350px;
    left: 0px;
    top:70px;
    border-radius: 10px;
    background-color: #ffffff;
    box-shadow: 0px 4px 4px rgba(0,0,0,0.15),0px 4px 16px rgba(0,0,0,0.15);
    z-index: 1;
  }
  .card-body {
    position: absolute;
    width: 90%;
    height: 290px;
    left: 5%;
    top: 5%;
    border-radius: 10px;
    background: linear-gradient(180deg, #0F3C76 0%,#0B2B55 100%);
  }
  .content {
    top: 85px;
  }
  .content h4 {
    color: #ffffff;
  }
  /* HEADER */
  .header{
    background: url('../images/Hero.jpg'), #0D2C54;
    width: 100%;
    height: auto;
    background-size: cover;
    background-position: center 80%;
    background-repeat: no-repeat;
    position: relative;
    font-family: 'Open Sans', sans-serif;
    color: #ffffff;
    padding-top: 90px;
  } 
  .header h1{
    margin:0;
    font-weight: 700;
  }
  .header p{
    font-size: 18px;
    padding-bottom: 10px;
    font-weight: 400;
  }
  /* h4-get started button */
  .header h4{color:black;
    font-size: 18px;
    margin: 5px;
    padding: 5px;
  }
  .get-started{
    display: flex;
    width: fit-content;
    background-color: #ffffff;
    border-radius: 5px;
    cursor: pointer;
  }
  .fa-angle-right:before{
    font-size: 28px;
    padding: 5px 10px;
    font-weight: 600;
  }
  .yellow-button{
    background-color: #fdca76;
    border: none;
    border-radius: 0 5px 5px 0;
  }
  .yellow-button:focus
  {
    outline: none;
  }


  @media screen and (max-width: 991px){
    .header{
      background-position: center;
    }
    .jumbotron{
      padding-top: 70px;
      height: 450px;
    }
    .card {
      height: 300px;
      top: 70px;
    }
    .card-body{
      height: 280px;
    }
  }

  @media screen and (max-width: 850px){
    .header{
      padding-top: 70px;
    }
    .jumbotron{
      padding-top: 70px;
      height: 450px;
    }
    .card {
      height: 300px;
      top: 30px;
    }
    .card-body{
      height: 280px;
    }
  }
  @media screen and (max-width: 760px){
    .jumbotron{
      background-position: 100%;
      height: 450px;
    }
    .card {
      height: 300px;
      top: 30px;
    }
    .card-body{
      height: 280px;
    }
  }
  @media screen and (max-width: 610px){
    .jumbotron{
      background-position: 100%;
      height: 450px;
    }
    .card {
      height: 280px;
      top: 30px;
    }
    .card-body{
      height: 260px;
    }
  }
  @media screen and (max-width: 600px){
    .jumbotron{
      background-position: 100%;
      height: 560px;
    }
    .card {
      height: 225px;
      top: 20px;
    }
    .card-body{
      height: 205px;
    }
  }
  @media screen and (max-width: 560px){
    .header{
      background-position: 100%;
    }
    .jumbotron{
      background-position: 100%;
      height: 550px;
    }
    .card {
      height: 215px;
      width: 65%;
      top: 30px;
    }
    .card-body{
      height: 195px;
    }
  }

  @media screen and (max-width: 510px){
    .header{
      background-position: 76%;
    }
    .jumbotron{
      background-position: 76%;
      height: 550px;
    }
    .card {
      height: 215px;
      top: 30px;
    }
    .card-body{
      height: 195px;
    }
  }

  @media screen and (max-width: 415px){
    .header{
      background-position: 73%;
    }
    .jumbotron{
      background-position: 70%;
      height: 550px;
    }
    .card {
      height: 215px;
      top: 30px;
    }
    .card-body{
      height: 195px;
    }
  }

  @media screen and (max-width: 383px){
    .header{
      background-position: 70%;
    }
    .jumbotron{
      background-position: 70%;
      height: 550px;
    }
    .card {
      height: 200px;
      top: 30px;
    }
    .card-body{
      height: 180px;
    }
  }

  @media screen and (max-width: 353px){
    .header{
      background-position: 60%;
    }
    .jumbotron{
      background-position: 60%;
      height: 550px;
    }
    .card {
      height: 180px;
      top: 20px;
    }
    .card-body{
      height: 160px;
    }
  }


/*Navbar End*/

/*Our Courses*/

#home-courses
{
    background: url(../images/Courses_bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

@media(max-width: 830px)
{
    #home-courses
    {
        background-position: 100% 100%;
    }
}

@media(max-width: 715px)
{
    #home-courses
    {
        background-position: 70% 100%;
    }
}

.home-course-div
{
    width:100%;
    height: 280px;
    overflow: hidden;
}

.home-course-scroll 
{
    height:300px; /* 40px - more place for scrollbar, is hidden under parent box */
    white-space:nowrap;
    overflow-x: scroll;
    overflow-y: hidden;
  -webkit-overflow-scrolling:touch;
  scroll-behavior: smooth;
}

.home-course-card
{
    display:inline-block;
    width:250px;
    height:250px;
    background:#fff;
    box-shadow: 2px 4px 4px rgba(0,0,0,0.25), -1px -1px 4px rgba(0,0,0,0.25);
    border-radius: 5px;
    padding: 12px;
    overflow: hidden;
    cursor: pointer;
}

.home-course-scroll .home-course-card:first-child
{
    margin-left: 60px;
}

.home-course-scroll .home-course-card:last-child
{
    margin-right: 60px;
}

.home-course-card + .home-course-card
{
    margin-left:55px
}

.home-card-img
{
    width: 226px;
    height: 150px;
    border-radius: 3px;
}

@media(max-width: 767px)
{
    .home-course-card
    {
        transform: scale(0.9);
    }

    .home-course-card + .home-course-card
    {
        margin-left:0px
    }

    .home-course-scroll .home-course-card:first-child
    {
        margin-left: 20px;
    }

    .home-course-scroll .home-course-card:last-child
    {
        margin-right: 20px;
    }
}

@media(max-width: 576px)
{
    .home-course-scroll .home-course-card:first-child
    {
        margin-left: 0px;
    }

    .home-course-scroll .home-course-card:last-child
    {
        margin-right: 0px;
    }
}

.box-bg-home-courses
{
    position: relative;
    z-index: 1;
}

.box-bg-home-courses:before
{
    content: '';
    position: absolute;
    top: -35px;
    left: -30px;
    height: 120px;
    width: 180px;
    background: url('../images/Our_courses_boxes.svg');
    background-repeat: no-repeat;
    background-size: contain;
    z-index: -1;
    opacity: 0.9;
}

@media(max-width: 567px)
{
    .box-bg-home-courses:before
    {
        left: -15px;
    }
}

.home-course-button
{
  height: 56px;
  width: 56px;
  border-radius: 28px;
  padding: 0;
  border: 1px solid #0d2c54;
  color: #0d2c54;
  font-size: 25px;
  box-shadow: 0px 0px 10px #000;
  top: 90px;
  background: #fff;
  z-index: 20;
}

@media(max-width: 576px)
{
  .home-course-button
  {
    display: none;
  }
}

.home-course-button-left
{
  left: 30px;
  display: none;
}

.home-course-button-right
{
  right: 30px;
}

.home-view-courses
{
  outline: none;
  background: #0d2c54;
  border: none;
  border-radius: 0;
}

.home-view-courses:focus
{
  outline: none;
}


/*Our Courses End*/






/*Our Mission*/

#home-our-mission {
  background-color:#0B2B55;
  background-size: cover;
  width:100%;
}

.mission-para
{
  font-size: 17px;
  color: #fff;
}

@media(max-width: 767px)
{
  .mission-para
  {
    font-size: 14px;
  }
}

.hr-p{
  height: 3px;
  margin-top: 18px;
  width: 107px;
    background: #FDCA76;
}

/*Our Mission End*/

/*Form*/
#home-form {
  width:100%;
  background-image: url("../images/Contact_bg.jpg");
  background-repeat: no-repeat;
  /*background-image: url("../Images/Contact_bg.jpg"), url("../Images/Our_courses_boxes.svg");
  background-position: left top,right top;
  background-repeat: no-repeat, no-repeat;*/
}

.suggest-txt{
  font-size:16px;
  width: 100%;
  padding: 12px 20px;
  margin: 5px 0;
  box-sizing: border-box;
  border-radius: 4px;
  resize: none;
  border: 1px solid #ccc;
}

.suggest-txt:focus
{
  box-shadow: 0px 0px 3px #0d2c54;
  outline: none;
}

.home-form-input-t{
  width: 100%;
  padding: 12px 20px;
  margin: 5px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  font-size: 16px;
}

.home-form-input-t:focus
{
  box-shadow: 0px 0px 3px #0d2c54;
  outline: none;
}

.home-form-input-s{
 width: 27%;
  background-color: #0F3C76;
  color: white;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}


.box-bg-home-contact
{
    position: relative;
    z-index: 1;
}

.box-bg-home-contact:before
{
    content: '';
    position: absolute;
    top: -30px;
    right: -40px;
    height: 120px;
    width: 180px;
    background: url('../images/Our_courses_boxes.svg');
    background-repeat: no-repeat;
    background-size: contain;
    z-index: -1;
    opacity: 0.9;
    transform: scaleX(-1);
}

@media(max-width: 567px)
{
    .box-bg-home-contact:before
    {
        right: -15px;
    }
}
/*Form End*/

/*Footer start*/
.footer{
    background-color: #0D2C54;
    box-shadow: 0px -2px 4px rgba(0,0,0,0.7);
}

.footer-icons
{
  padding-left: 5px;
  padding-right: 5px;
  width: 10px;
  color: #fdca76;
  transition: 0.3s;
}
.footer-icons:hover{
  opacity: 0.7;
}  

/*Footer end*/

/*Profile-Courses*/

 .profile_pic {
     height: 550px;
     background-color: #0D2C54;
     background-image: url('bg.jpg');
     padding-top: 120px;
     background-size: cover;
    background-position: center 100%;
    background-repeat: no-repeat;
    position: relative;
    
     }

     .pp{
      background-image: url('pp.jpg');
      width:200px;
      height: 200px;
      border-radius: 50%;
      border: 3px solid black;
      box-shadow:0 0 10px black;
      background-size: cover;
     background-position: center 100%;
     background-repeat: no-repeat;
     position: relative;
      }

    .pp:before{
      position: absolute;
      content: '';
      height: calc(100% + 26px);
      width: calc(100% + 26px);
      border: 3px dashed white;
      top: -13px;
      left: -13px;
      border-radius: inherit;
    }

    .pp_name{
      text-align: center;
      color: white;
      font-size: 24px;
    }
   
     h4{
       color: black;
     }

/*Profile-Courses End*/


/*login-page Start*/
.login
{
  background: url("../images/login.jpg"), #0D2C54;
    width: 100%;
    height: auto;
    background-size: cover;
    background-repeat: no-repeat;
    font-family: 'Open Sans', sans-serif;
    color: #000;
    padding-top: 90px;
}

@media(max-width: 767px)
{
  .login
  {
    padding-top: 70px;
  }
}

@media(min-height: 728px)
{
  .login
  {
    padding-top:  100px;
    height: 88vh;
  }
}

@media(min-height: 728px)
{
  .login
  {
    height: 95vh;
  }
}

.forgot-pw{
  float: right;
  color: #000;
}

.login-form-input-s{
  font-weight: 600;
    width: 50%;
    background-color: #fdca76;
    color: #0d2c54;
    border: none;
    border-radius: 4px;
    font-size: 16px;
}

.cont-google{
  width: 100%;
  font-weight: 600;
  background-color: #fff;
  padding: 14px 20px;
  border: 1px solid #000;
  box-sizing: border-box;
  font-size: 16px;
}

.register-button{
  width: 100%;
  background-color: #fbdeae;
  font-weight: 600;
  color:#000;
  padding: 14px 20px;
  border: 1px solid #000;
  font-size: 16px;
  text-align: center;
}

.regnow{
    color: #0c2c53;
    text-decoration: none;
    font-weight: 600;
}

.google-signin
{
  height: 16px;
  width: auto;
  margin-top: -3px;
  padding-right: 5px;
}

.outer-box{
  background-color:#fff;
  border-radius:18px;
}

.inner-box{
  border-radius: 18px;
    border: 1px solid #fbca76;
}
.login-square{
  height: 308px;
    margin-top: 118px;
    margin-left: 89px;
}

/*login page End*/

/*Register start*/
.register{
  background: url("../images/login.jpg"), #0D2C54;
    width: 100%;
    height: auto;
    background-size: cover;
    background-repeat: no-repeat;
    font-family: 'Open Sans', sans-serif;
    color: #fff;
    padding-top: 90px;
}
.outer-box-reg{
  border-radius:18px;
background-color: #0c2c53
}
/*Register end */








/*Course info page start*/








/*//Course info page start*/