body
{
	top: 0;
	left: 0;
	scroll-behavior: smooth;
	margin: 0;
	font-size: 100%;
	font-family: sans-serif;
	background: #fff;
}

/*Navbar*/
  .topnav {
    height: 83px;
    top: 0;
    left: 0;
    background: #0D2C54;
    width: 100%;
    z-index: 1000;
    overflow: hidden;
    transition: 0.5s ease-in-out;
    font-family: 'Poppins', sans-serif;
    box-shadow: 0px 4px 4px rgba(0,0,0,0.25);
  }

  .nav-logo {
    left: 8%;
  }

  .nav-logo a:focus
  {
    outline: none;
    border: none;
  }

  .nav-logo-img {
    height: 50px;
    margin-top: 22px;
    width: auto;
    transition: 0.5s ease-in-out;
  }

  .toggle-bars {
    width: 25px;
    right: 8%;
    margin-top: 22px;
    display: none;
  }

  .bar {
    height: 2px;
    margin: 5px 0;
    width: 100%;
    background: #fff;
    transition: 0.7s;
  }

  .navbar-ul {
    text-decoration: none;
    list-style: none;
    float: right;
    margin-right: 8%;
    font-size: 18px;
    margin-top: 29px;
    transition: 0.5s ease-in-out;
  }

  .navbar-link {
    display: inline-block;
    padding: 2px 12px;
    color: #fff;
    text-decoration: none;
    position: relative;
  }

  .navbar-list
  {
    position: relative;
  }

  .navbar-link-text
  {
    position: relative;
  }

  #reg-link
  {
    background: #fdca76;
    color: #0D2C54;
    margin-left: 6px;
    padding: 2px 20px;
  }

  .navbar-link:hover, .navbar-link:focus {
    color: #fff;
    text-decoration: none;
  }

  .navbar-list .navbar-link-text:after
  {
    content: '';
    position: absolute;
    height: 2px;
    width: 70%;
    background: #fdca76;
    left: 15%;
    bottom: -4px;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform 0.5s;
  }

  .navbar-list.active .navbar-link-text:after
  {
    content: '';
    position: absolute;
    height: 2px;
    width: 70%;
    background: #fdca76;
    left: 15%;
    bottom: -4px;
    transform-origin: right;
    transform: scaleX(1);
    transition: 0.5s;
  }

  .navbar-link:hover .navbar-list .navbar-link-text:after
  {
    content: '';
    position: absolute;
    height: 2px;
    width: 70%;
    background: #fdca76;
    left: 15%;
    bottom: -4px;
    transform-origin: left;
    transform: scaleX(1);
  }

  #reg-link:hover .navbar-list .navbar-link-text:after
  {
    content: '';
    position: absolute;
    height: 2px;
    width: 70%;
    background: #fdca76;
    left: 15%;
    bottom: -4px;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform 0.5s;
  }

  @media (max-width: 850px)
  {
    .topnav {
      height: auto;
      max-height: 60px;
      transition: 1s ease-in;
    }

    .nav-logo-img {
      margin-top: 10px;
      height: 40px;
    }

    .toggle-bars {
      margin-top: 17px;
      display: block;
      cursor: pointer;
    }

    .navbar-ul {
      width: 100%;
      margin: 60px 0 0;
      padding: 0;
      text-align: center;
    }

    .navbar-link {
      display: block;
      margin: 5px 0;
    }

    #reg-link
    {
      margin: 6px 0 10px;
      margin-left: 0;
      color: #fff;
      background: #0D2C54;
    }

    .navbar-list
    {
      padding: 5px;
    }

    #reg-list
    {
      background: #fdca76;
      color: #0D2C54;
    }
  }
  
  /* HEADER */
  .header{
    background: url('../images/Hero.jpg'), #0D2C54;
    width: 100%;
    height: auto;
    background-size: cover;
    background-position: center 80%;
    background-repeat: no-repeat;
    position: relative;
    font-family: 'Open Sans', sans-serif;
    color: #ffffff;
    padding-top: 90px;
  } 
  .header h1{
    margin:0;
    font-weight: 700;
  }
  .header p{
    font-size: 18px;
    padding-bottom: 10px;
    font-weight: 400;
  }
  /* h4-get started button */
  .header h4{color:black;
    font-size: 18px;
    margin: 5px;
    padding: 5px;
  }
  .get-started{
    display: flex;
    width: fit-content;
    background-color: #ffffff;
    border-radius: 5px;  
  }
  .fa-angle-right:before{
    font-size: 28px;
    padding: 5px 10px;
    font-weight: 600;
  }
  .yellow-button{
    background-color: #fdca76;
    border: none;
    border-radius: 0 5px 5px 0;
  }


  @media screen and (max-width: 991px){
    .header{
      background-position: center;
    }
  }

  @media screen and (max-width: 850px){
    .header{
      padding-top: 70px;
    }
  }
  
  @media screen and (max-width: 560px){
    .header{
      background-position: 100%;
    }
  }

  @media screen and (max-width: 510px){
    .header{
      background-position: 76%;
    }
  }

  @media screen and (max-width: 415px){
    .header{
      background-position: 73%;
    }
  }

  @media screen and (max-width: 383px){
    .header{
      background-position: 70%;
    }
  }

  @media screen and (max-width: 353px){
    .header{
      background-position: 60%;
    }
  }


/*Navbar End*/

/*Our Courses*/
#our-courses {
    background-image: url("../Images/Courses_bg.jpg");
    background-repeat: no-repeat;
    background-position: right;
    padding-top: 70px;
}
.vertical-pad {
    padding-bottom: 35px;
}

.horizontal-pad {
    padding-left: 30px;
}
.heading {
    padding-bottom: 50px;
    padding-top: 45px;
    background-image: url("../Images/Our_courses_boxes.svg");
    background-repeat: no-repeat;
    padding-left: 35px;
}
.grid {
    min-width: max-content;
}
.wrapper {
    display: flex;
    justify-content: space-between;
    overflow-x: auto;
    padding-left: 20px;
    padding-right: 20px;
}
.horizontal-scrollable > .grid { 
    overflow-x: auto; 
    white-space: nowrap;
} 
.wrapper::-webkit-scrollbar{
    width: 0;
}
.card {
    position: relative;
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    flex-direction: row;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    border-radius: 10px;
    width: 25%;
    height: 290px;
    margin: 15px 0 30px;
    box-shadow: 0px 4px 4px rgba(0,0, 0, 0.15), 0px 4px 16px rgba(0, 0, 0, 0.15);
}

.card:hover .overlay {
    opacity: 1;
}

.img {
    height: 90%;
    width: 84%;
    display: -webkit-box;
    display: flex;
    -webkit-box-pack:  ;
    justify-content: initial;
    -webkit-box-align: initial;
    align-items: initial;
    border-radius: 10px;
    margin-bottom: 15px;
    background: linear-gradient(180deg, #0F3C76 0%, #0B2B55 100%);
}

.button {
    position: absolute;
    height: 45px;
    color: #FDCA76;
    background: linear-gradient(180deg, #0F3C76 0%, #0B2B55 100%);
    font-size: 30px;
    font-weight: 900;
    left: 110px;
    top: 235px;
    border-radius: 5px 0px 0px 5px;
    text-align: center;
    width: 50px;
}
.course {
    padding-right: 140px;
    text-align:  justify;
}

@media screen and (min-width: 480px)
{
    .button {
        left: 90px;
        width: 46px;
    }
    .course {
        padding-right: 53px;
    }
}
@media only screen and (min-width: 768px)
{
    .button {
        left: 184px;
        width: 73px;
    }
    .course {
        padding-right: 110px;
    }
}

/*Our Courses End*/






/*Our Mission*/

#home-our-mission {
  background-color:#0B2B55;
  background-size: cover;
  width:100%;
}

.mission-para
{
  font-size: 19px;
  color: #fff;
}

@media(max-width: 767px)
{
  .mission-para
  {
    font-size: 16px;
  }
}

.heading-h1{
  text-align: center;
    color: #fff;
    margin-bottom: -17px;
}

.hr-p{
  height: 3px;
  margin-top: 18px;
  width: 107px;
    background: #FDCA76;
}

/*Our Mission End*/

/*Form*/
#home-form {
  width:100%;
  background-image: url("../images/Contact_bg.jpg");
  background-repeat: no-repeat;
  /*background-image: url("../Images/Contact_bg.jpg"), url("../Images/Our_courses_boxes.svg");
  background-position: left top,right top;
  background-repeat: no-repeat, no-repeat;*/
}

.f1{
  margin-top: 67px;
}

.suggest-txt{
  font-size:16px;
  width: 100%;
  padding: 12px 20px;
  box-sizing: border-box;
  border-radius: 4px;
  resize: none;
  border: 1px solid #ccc;
}

.home-form-input-t{
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  font-size: 16px;
}

.home-form-input-s{
 width: 27%;
  background-color: #0F3C76;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}

.head-con {
  text-align: right;
  padding-bottom:10px;
  color: #000;
}
/*Form End*/

/*Profile-Courses*/


/*Profile-Courses End*/



/*login-page Start*/
.login{
  
  background: url("../images/login.jpg"), #0D2C54;
    width: 100%;
    height: auto;
    background-size: cover;
    background-repeat: no-repeat;
    font-family: 'Open Sans', sans-serif;
    color: #000;
    padding-top: 90px;
}

.forgot-pw{
  float: right;
  color: #000;
}

.login-form-input-t{
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #000;
  box-sizing: border-box;
  font-size: 16px;
}

.login-form-input-s{
  width: 50%;
  background-color: #fdca76;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  font-size: 16px;
}
.login-form-hr{
  border-top: 1px solid #000;
}
.or{
  text-align: center;
}
.cont-google{
  width: 100%;
  font-weight: 600;
  background-color: #fff;
  padding: 14px 20px;
  margin: 8px 0;
  border: 1px solid #000;
  box-sizing: border-box;
  font-size: 16px;

}
.register-button{
  width: 100%;
  background-color: #fbdeae;
  font-weight: 600;
  color:#000;
  padding: 14px 20px;
  margin: 8px 0;
  border: 1px solid #000;
  border-radius: 4px;
  font-size: 16px;
}

.google{
  margin-top: -93px;
    margin-bottom: 3px;
    margin-right: 204px;
    width:20px;
}

.outer-box{
  background-color:#fff;
  border-radius:18px;
}

.inner-box{
  border-radius: 18px;
    border: 1px solid #fbca76;
    margin: 11px 0 11px 0px;
}
.login-square{
  height: 308px;
    margin-top: 118px;
    margin-left: 89px;
}

/*login page End*/

